* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
  overflow-x: hidden;
}

/* Navbar */

nav {
  display: flex;
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 17px;
  font-size: larger;
}

nav h1 {
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
  font-weight: 900;
  margin-left: 25px;
}

.navlinks {
  width: 85%;
  /* border: solid; */
  display: flex;
  list-style: none;
  justify-content: end;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.navmenu {
  padding-right: 60px;
}

/* Landing page */

.main {
  /* border: solid; */
  display: flex;
}

.landing-page {
  /* border: solid; */
  font-size: large;
  align-content: center;
  text-align: center;
  min-width: 48%;
  padding: 0px 5px;
}

.landing-page h1 {
  font-size: 50px;
  color: goldenrod;
  font-style: italic;
}
.t,
.text {
  padding-bottom: 7px;
  position: relative;
}

.text {
  /* border: solid; */
  left: 5%;
  width: 90%;
}

.image {
  transform: translateX(1px);
  pointer-events: none;
}
