/* flex-wrap: wrap; this is for the mobile responsive! */
/* justify-content: center; this is only for the horizontal of each line box */
/* align-items: center; this is only for the vertical of each line box */
/* align-content: center; this is for all of the box */

/* Justify (horizontal) --- Align-items (vertical) */
/* justify-content: space-between;
  align-items: center; */
/* flex-shrink */
/* flex-grow (the opposite of flex-shrink */

body {
  min-height: 800px;
  border: solid;
  display: flex;
  gap: 10px;
}

.box {
  height: 200px;
  width: 200px;
  background-color: #0071ff;
  font-size: 40pt;
  /* Option 1 */
  /* align-content: center;
  text-align: center; */

  /* Option 2 */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 575px) {
  body {
    flex-wrap: wrap;
  }
}
