* {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  padding-top: 6px;
  height: 30px;
  /* border: solid; */
  display: flex;
  font-size: larger;
}

.nav-h1 {
  padding-left: 10px;
}

.navlinks {
  list-style: none;
  /*   */
  display: flex;
  width: 100%;
  justify-content: center;
  cursor: pointer;
}

.navlist {
  padding-left: 50px;
}

.landing-page {
  /* border: solid; */
  display: flex;
}

.landing-text {
  align-content: center;
  text-align: center;
  font-size: larger;
}

.landing-text-h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 60px;
}
